.form-default{
    margin: 20px;
    h2{
        font-size: 2rem;
        margin-bottom: 40px;
    }
   
}
.form-group{
    margin-bottom: 20px;
    label{
        font-size : 1.1rem;
        font-weight: bold;
    }
    .form-control{
        width: 90%;
        display: block;
        padding : 10px;
        border-radius:2px;
        border: 1px solid $gray-color;
        font-size: 1.1rem;
        margin-top: 10px;
    }
}
